p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}

a {
    display: inline-block;
    &:hover {
        text-decoration: none;
    }
}


// var
$white-color:#fff;
$balck-color:#000;
$min-color:#053067;
$sub-color:#041571;
$gray-color:#4b4748;

// var


// min class


body{
    font-family: 'Noto Sans JP', sans-serif;
    // html[dir="rtl"] & {

    // }
}


.pad-20{
    padding: 20px 0;
}
.prag{
    font-size: 16px;
    color: rgba($gray-color, 1.0); 
    font-weight: 400;
}

.title-box{
    text-align: center;
    margin: 0 0 30px;
    .title{
        font-weight: 600;
        font-size: 28px;
        margin: 0 0 6px;
        color: rgba($min-color, 1.0);
    }
}
.trans-4{
    transition: .4s all ease-in-out;
}


.link-box{
    .link-style{
        text-align: center;
        padding: 10px 30px;
        background-color: rgba($min-color, 1);
        color: rgba($white-color, 1);
        border: 1px solid rgba($balck-color, 1.0);
        @extend.trans-4;
        &:hover{
            color: rgba($min-color, 1);
            background-color: rgba($white-color, 1);
        }
    }
}


.link-box2{
    .link-style{
        font-weight: 500;
        font-size: 12px;
        color: rgba($min-color, 1);
        border: 1px solid rgba($min-color, 1);
        padding: 10px;
        border-radius: 50px;
        &:hover{
            color: rgba($sub-color, 1);
        }
    }
}

// min class



// nav-bar-section

.nav-bar-section{
    padding: 14px 0;

}   

// nav-bar-section


// plan-section

.plan-section{
    .plan-box{
        margin: 5px 0;
        &.big-box{
            .plan-link{
                text-align: start;
                min-height: 577px;
                .paln-title{
                    font-size: 30px;
                    margin: 0 30px 10px;
                    &:after{
                        left: 0;
                        transform: translateX(0%);
                    }
                }
                .prag{
                    font-size: 16px;
                }
            }
        }
        .plan-link{
            @extend.trans-4;
            border: 1px solid rgba($gray-color, .3);
            padding: 30px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            min-height: 280px;
            &:hover{
                box-shadow: 0 4px 10px 0 rgba($gray-color, .3);
                transform: scale(1.01) translateY(-4px);
            }
            .paln-title{
                font-size: 20px;
                color: rgba($min-color, 1.0);
                position: relative;
                padding: 0 0 10px;
                font-weight: 600;
                width: 90%;
                margin: 0 0 10px;
                display: inline-block;
                &:after{
                    content: "";
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px ;
                    width: 20%;
                    background-color: rgba($gray-color, .3);
                    position: absolute;
                }
            }
            .prag{
                font-size: 10px;
                padding: 0 30px;
            }
        }
    }
}

// plan-section




// banner-section

.banner-section{
    margin: 20px 0;
    padding: 103px 0 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title-box{
        .title{
            font-size: 40px;
            color: rgba($balck-color, 1.0);
        }
        .prag{
            width: 50%;
            margin: 0 auto;
            font-weight: 600;
        }
    }
    .link-box{
        text-align: center;
        margin: 50px 0;
    }
}

// banner-section

// about-section

.about-section{
    .about-box{
        margin: 20px 0;
        .about-link{
            text-align: center;
            &:hover{
                img{
                    box-shadow: 0 4px 10px 0 rgba($gray-color, .5);
                    transform: scale(1.05) translateY(-4px);
                }
                .about-text{
                    color: rgba($gray-color, 1.0);
                }
            }
            img{
                width: 165px;
                height: 165px;
                overflow: hidden;
                border-radius: 50%;
                text-align: center;
                display: block;
                margin: 0 0 20px;
                @extend.trans-4;
            }
            .about-text{
                @extend.trans-4;
                font-size: 16px;
                color: rgba($min-color, 1);
                font-weight: 600;
            }
        }
    }
}

// about-section


// footer-section

.footer-section{
    position: relative;
    margin: 20px 0 0;
    z-index: 1;
    padding: 60px 0 20px;
    background-color: rgba($gray-color, .04);
    &:after{
        content: '';
        position: absolute;
        width: 240px;
        height: 325px;
        background: url('../img/figNewsletterr.png') no-repeat;
        z-index: -1;
        top: 0;
        left: 0;
    }
    .footer-ul{
        .footer-ul-title{
            font-size: 14px;
            font-weight: 700;
            color: rgba($min-color, 1);
            margin: 20px 0 5px;
        }
        ul{
            padding: 0;
            list-style: none;
            li{
                margin: 6px 0;
                a{
                    font-size: 12px;
                    color: rgba($gray-color, 1.0);
                    font-weight: 400;
                    @extend.trans-4;
                    &:hover{
                        text-decoration: underline;
                        color: rgba($balck-color, 1);
                    }
                }
            }
        }
    }
    .link-box2{
        margin: 40px 0;
    }
    .app-box{
        margin: 40px 0 0;
        border-top: 1px solid rgba($gray-color, 0.1);
        padding: 20px;
        text-align: center;
        a{
            margin: 0 10px 0;
        }
    }
    .copy-box{
        display: flex;
        justify-content: space-between;
    }
}

// footer-section



@media(max-width:772px){
    .banner-section{
        padding: 50px 0 50px;
         .title-box{
              .title{
                font-size: 22px;
              }
              .prag {
                width: 75%;
                font-size: 12px;
            }
            }
        }
}